@using WebApplicationTask1.Models

@model Blog 
<h1>@Model.Title</h1>
<p>@Model.Descrption</p>
<a asp-controller="Home" asp-action="Index">Home-a daxil olmaq ucun klikleyin</a>
<a asp-controller="Contact" asp-action="Index">Contact-a daxil olmaq ucun klikleyin </a>
<a asp-controller="About" asp-action="Index">About-a daxil olmaq ucucn klileyin</a>
