@using WebApplicationTask1.Models

@model About  
<h1 > @Model.Title</h1>
<p>@Model.Description</p>
<a asp-controller="Blog" asp-action="Index">Blog-a daxil olmaq ucun klikleyin</a>
<a asp-controller="Contact" asp-action="Index">Contact-a daxil olmaq ucun klikleyin</a>
<a asp-controller="Home" asp-action="Index">Home-a daxil olmaq ucun klikleyin </a>
